#loading {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#loading ion-spinner {
  width: 100px;
  height: 100px;
}

#footer {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
}
